body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background: #fff;
  padding: 25px;
  width: 380px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.wrapper h1 {
  margin-bottom: 15px;
  color: #333;
}

.wrapper input {
  width: 65%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 15px;
  transition: 0.2s;
}

.wrapper input:focus {
  border-color: #667eea;
}

.wrapper button {
  padding: 10px 15px;
  margin-left: 8px;
  border: none;
  background: #108fca;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 0.2s;
}

.wrapper button:hover {
  background: #124bac;
}

ul {
  list-style: none;
  margin-top: 15px;
  width: 350px;
}

li {
  background: white;
  margin-bottom: 10px;
  padding: 10px 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

li span {
  display: flex;
  gap: 10px;
}

li span svg:first-child {
  color: #1ac4f3;
  cursor: pointer;
  font-size: 25px;
  transition: 0.2s;
}

li span svg:first-child:hover {
  transform: scale(1.2);
}
li span svg:nth-child(2) {
  color: #f44336;
  cursor: pointer;
  font-size: 25px;
  transition: 0.2s;
}
li span svg:nth-child(2):hover {
  transform: scale(1.2);
}
li span svg:last-child {
  color: #4caf50;
  cursor: pointer;
  font-size: 25px;
  transition: 0.2s;
}

li span svg:last-child:hover {
  transform: scale(1.2);
}
